*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.container{
    background-image:url(image.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 5rem;
    font-weight: bolder;
    color: aliceblue;
}
h2{
    font-size: 4rem;
    padding: 2rem;
    letter-spacing: 1rem;
    color: aliceblue;
}
#plus, #save{
    padding: 1rem 4rem;
    margin: 1rem;
    font-size: 2rem;
    background-color: brown;
    color: aliceblue;
    border: none;
    outline: 2px solid seagreen;
    outline-offset: 5px;
}
#plus{
    background-color: rgb(31, 177, 74);
    color: aliceblue;
    font-size: 2rem;
}
p{
    font-size: 2rem;
    font-weight: 900;
    color: rgb(49, 77, 102);
}
#reset{
    padding: 1rem;
    background-color: rgb(73, 204, 204);
    font-size: 1rem;
    margin: 2rem;
}
